<%- include("partials/header"); -%>
<br>
<br>
<br>
<% for(var i = 0;i<Comments.length;i++){ %>
    
    <h4><b> # <%= Comments[i].name%>  <%= Comments[i].rollNo%></b></h4>
    <p>
        <%= Comments[i].content %>
    </p>

<% } %>

<%- include("partials/footer"); -%>