<%- include("partials/header"); -%>
<br>
<h2>Welcome <b><%= user.name %></b></h2>
<br>
<h2 style="display : inline"> Lets Work on <h1 style="display : inline"><b>Linked List</b></h1><h2 style="display : inline"> this week </h2></h2>
<br>
<br>

<section id="testimonials">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="testimonial-text"><b>Code</b> Never Lies, <b>Comments</b> Sometimes Do</h2>
      </div>
      <div class="carousel-item">
        <h2><b>Difficult</b> Roads Leads to beautiful <b>Destinations</b></h2>
      </div>

    </div>
  </div>
</section>
<br>
<h3> Updates : </h3>
<br>
<section id="testimonial">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>Website is under maintainence! Updates are on the way!</p>
      </div>
      <div class="carousel-item">
        <p>This Week's questions are uploaded kindly check</p>
      </div>

    </div>
  </div>
</section>
<br>
<hr>

<% var prev = -1 %>
<h2 id="quuu">Questions : </h2>

<% for(var i = 0;i<Questions.length;i++){ %>
  <% if(Questions[i].state!=0){ %>
    <% continue %>
  <% } %>
  <% if(prev!=Questions[i].diff) { %>
    <hr>
    <% if(Questions[i].diff==1){ %>
        <h4><b>(Easy)</b></h4>
        <% prev = 1 %>
    <% } %>
    <% if(Questions[i].diff==2){ %>
        <h4><b>(Medium)</b></h4>
        <% prev = 2 %>
    <% } %>
    <% if(Questions[i].diff==3){ %>
        <h4><b>(Hard)</b></h4>
        <% prev = 3 %>
    <% } %>   
  <% } %>

  <h3> Q) <%= Questions[i].name%></h3>
  <p>
      <%= Questions[i].hint.substring(0,1000) + "..."%>
      <a href="/post/<%= Questions[i].name%>"><b>Click Here</b></a>
  </p>
  <hr>
<% } %>

<div id="down">
  <form action="/homePrevious" method="post">
    <label><h2>Click here for Previous Weeks Questions :</h2></label>
    <button class="btn btn-primary" type="submit" name="qName" value = "<%= Questions %>" >Click</button>
  </form>
</div>

<%- include("partials/footer"); -%>